.about {
    background-color: rgb(249, 245, 225);
    text-align: center;
    height: 680px;
}

.about h2 {
    margin: 0;
    padding: 40px;
    font-size: 60px;
}

.about-main {
    display: flex;
    padding-left: 100px;
    gap: 50px;
    justify-content: start;
}

.about-main img {
    width: 400px;
    height: 400px;

}

.about-main p {
    margin-top: 30px;
    width: 800px;
    text-align: left;
}