body {
    margin: 0;
    padding: 0;
}

.logo {
    background-image: url(./main.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.name_logo {

    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    color: rgb(249, 245, 225);
    background-color: rgba(0, 0, 0, 0.428);
    font-size: 60px;
}



header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 17, 17);
}

nav {
    display: flex;
    gap: 100px;

}

nav button {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    color: gray;
    font-size: 18px;
    background-color: rgb(19, 17, 17);
    border: none;
}

nav button:hover {
    color: rgb(249, 245, 225);
}

p {
    margin: 0;
    text-align: center;
    color: rgb(31, 30, 30);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.desc {
    padding: 50px;
    height: 100px;
    background-color: rgb(249, 245, 225);
}