.menuArea {
    height: 1000px;
    background-color: rgb(249, 245, 225);
    padding: 60px 350px 60px 350px;
}

.textMenu {
    border: double 8px  rgb(31, 30, 30);
    height: 1000px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-item {
    border-top: solid 2px  rgb(31, 30, 30);
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    width: 500px;
}

.nameMenu {
    text-align: center;
}

.nameMenu h2 {
    font-size: 60px;
    margin-bottom: 0;
}

.nameMenu h3 {
    font-size: 20px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    margin-top: 10px;
    font-size: 18px;
}

h4 {
    font-size: 22px;
}